<?xml version="1.0"? >
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Version="1.0" Manufacturer="Test" UpgradeCode="12345678-2222-3333-4444-211122222222">
		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>
		<Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]" Permanent="yes" Part="last" Action="set" System="yes" />
		<Chain>
			<!--
			MsiPackage pacotes msi
			ExePackage pacotes exe
			MspPackage pacotes msp
			MsuPackage pacotes msu
			-->
			<MsiPackage SourceFile="C:\WIXBundle\example.msi"/>
			<MsiPackage SourceFile="C:\WIXBundle\example2.msi"/>
		</Chain>
	</Bundle>
</Wix>

